{% extends 'listintervenant.html.twig' %}

{% block body %}
    <h1>Intervenant list</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Departement</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for intervenant in intervenants %}
            <tr>
                <td><a href="{{ path('intervenant_show', { 'id': intervenant.id }) }}">{{ intervenant.id }}</a></td>
                <td>{{ intervenant.nom }}</td>
                <td>{{ intervenant.prenom }}</td>
                <td>{{ intervenant.departement }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('intervenant_show', { 'id': intervenant.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('intervenant_edit', { 'id': intervenant.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('intervenant_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
